<!DOCTYPE html>
<html lang="en">
<body>
<head>

    <h1>Hii {{ user.username }}</h1>
    <h2>You have logged in successfully</h2>
    <form  action="{% url 'logout' %}", method="post">
    {% csrf_token %}
    <button onclick="location.href='{% url 'Home' %}'" type="button"> Logout </button>
    </form>
    <button onclick="location.href='{% url 'blog_list' %}'" type="button"> View Blog </button>
    <button onclick="location.href='{% url 'AboutUs' %}'" type="button"> About us </button>

    <button onclick="location.href='{% url 'Home' %}'" type="button"> Home </button>

</head>
</body>
</html>

